<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<title>设置token</title>
<script type="text/javascript" src="//smarth5.3.cn//h5/27350/1/1505444452033/test.js"></script>
</head>
<body>
<div>
<b>当前使用authentication.token.key:</b><input id="authentication.token.key" name="authentication.token.key" style="width:500px;" /><button onclick="updateTokenKey(this);">更改</button>
</div>
<p>请先登录<a href="http://devsmart.jd.com">开发者中心</a>获取对应产品设备的authentication.token.key,然后进行更改。</p>
<p>操作说明，请查看使用手册。</p>
</body>
</html>
<script>

;(function() {
	getCurTokenKey();
})();
var curTokeyKey="";
function getCurTokenKey(){
	new window.SmartPcSendAjax("/getCurTokenKey", "", function(data){
		   curTokeyKey=data.authentication_token_key;
	       document.getElementById("authentication.token.key").value=data.authentication_token_key;
	});
}
function updateTokenKey(inputx){
	var newTokenKey=document.getElementById("authentication.token.key").value;

	new window.SmartPcSendAjax("/index",{token:newTokenKey}, function(data){

		new window.SmartPcSendAjax("/getCurTokenKey", "", function(data){
			curTokeyKey=data.authentication_token_key;
			if(curTokeyKey==newTokenKey){
				document.getElementById("authentication.token.key").value=data.authentication_token_key;
				alert("更新成功！")
			}else{
				alert("更新失败！")
			}

		});
	});
}

function onReceive(data){
	console.log(data);
}
</script>